/*
Setting our main colors for later use.*/

:root {
  --green: rgb(131, 173, 101); 
  --orange: rgb(245, 153, 74); 
  --blue: rgb(131, 151, 230);
  --red: rgb(245, 111, 111);
  --black: rgb(0, 0, 0);
  --grey-50: rgb(127, 127, 127);
  --grey-25: rgb(191, 191, 191);
  --yellow: rgb(227, 197, 123);
}
body{
	background-image: url(../content/img/back.png);
    background-repeat: no-repeat;
    
    background-size: cover;

}
/*
Setting our fonts for overall use. */
@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('../content/font/FuturaPT-Demi.eot');
  src: url('../content/font/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
       url('../content/font/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg'),
       url('../content/font/FuturaPT-Demi.ttf') format('truetype'),
       url('../content/font/FuturaPT-Demi.woff') format('woff'),
       url('../content/font/FuturaPT-Demi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../content/font/FuturaPT-Book.eot');
  src: url('../content/font/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
       url('../content/font/FuturaPT-Book.svg#FuturaPT-Book') format('svg'),
       url('../content/font/FuturaPT-Book.ttf') format('truetype'),
       url('../content/font/FuturaPT-Book.woff') format('woff'),
       url('../content/font/FuturaPT-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/*
Setting up main fonts on headings and paragrafs and also links.*/
h1, h2, h3, h4, h5{
	font-family: FuturaPT-Demi;
	color: var(--black);
}
a, p, ul{
	font-family: FuturaPT-Book;
}

/*
Setting up buttons*/
button {
  background-color: var(--grey-25);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background: var(--grey-50);
  cursor: pointer;
}

/*
Setting up form fields*/


aside .search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 170px;
}

aside .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: var(--grey-25);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

aside .search-container button:hover {
  background: var(--grey-50);
}
/*
Setting up Newsletter*/
aside .newsletter button{
	width: 150px;
	margin-left: calc(50% - 75px);
}

aside .newsletter input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 90%;
  margin-left: 3%;
  margin-bottom: 10px;
  border: 1px solid var(--grey-50);
}

aside .follow img{
	width: 35px;
}

aside .follow ul{
	list-style: none;
	font-size: 18pt;

}
aside a{
	color: var(--grey-50);
	text-decoration: none;
}
aside a:hover{
	color: var(--black);
}
/*Canvas styling
We are using a grid system to manage our body canvas, to set and design Nav, Header, Footer and Aside */
#canvas {
    display: grid;
    width: calc(100% - 30px);
    height: 950px;
    grid-template-areas: "head head head"
    "nav  main aside"
    "foot  foot foot";
    grid-template-rows: 100px 1fr 200px;
    grid-template-columns: 300px auto 300px;
    grid-gap: 15px;
    padding: 0 15px;

}

#canvas > header {
    grid-area: head;
}
#canvas > header > a > img {
    width: 200px;
    margin-left: calc(50% - 100px);
}

#canvas > nav {
    grid-area: nav;
    height: 650px;
    z-index: 1;
    background-color: white;
}
#canvas > nav > a{

    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: inline-block;
    width: 80%;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
}
#canvas > nav > a:hover{
    color: blue;

}
#canvas > nav .dropdown-container > a{
	text-decoration: none;

}
#canvas > nav > img{
	width: 30px;
	height: auto;
	display: inline-block;
}
#canvas > main {
    grid-area: main;
    
}

#canvas > aside {
    grid-area: aside;
}
#canvas > aside .info img{
	width: 80px;
	height: auto;
	float: right;
}

#canvas > footer {
    grid-area: foot;
    background-color: var(--grey-50);
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
}
#canvas > footer > ul{
	list-style: none;
}


.dropdown-container {
  display: none;
  padding-left: 20px;
  font-size: 18pt;
}

.box{
    -webkit-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
}

.active {
  background-color: var(--grey-25);
  color: white;
}





/*Page Styling
For styling our main page in the middle of our website.*/
#indexPage{
	display: grid;
	grid-template-rows: repeat(3, 320px);
}


#contentPage{
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: 220px 180px 200px 60px 60px 60px;
}
#contentPage > header{
	grid-column: 1 / span 2;
	grid-row: 1;
	background-color: var(--black);
}
#contantPage .sideInfo{
	grid-column: 2;
	grid-row: 2;
	
}
#contentPage .frontInfo{
	grid-column: 1;
	grid-row: 2;

}
#contentPage .linkArt{
	grid-column: 1 / span 3;
	grid-row: 3;
	background-color: grey;
}

.left{
	float: left;
}
.right{
	float: right;
}

#mainPage{

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#subPage{

}

#mainInfo{
	float: right; width: 300px; padding: 5px; margin-left: 50px; border: 1px solid var(--grey-25);
}

.links{
	width: 55%;
}

#descSection > article{

}

#descSection > article a{

	text-decoration: none;
	font-family: FuturaPT-Demi;
	color: var(--grey-50);
}

#requestForm{
	width: 60%;
}
#requestForm input[type=text], select, textarea {
  width: 45%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 5px;
}
#requestForm textarea{
	float: right;
}
#requestForm input[type=submit] {
  background-color: var(--grey-25);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

#requestForm input[type=submit]:hover {
  background-color: var(--grey-50);
}

